$color-blue-dark: #0c0804;
$color-blue-light: #3f2a14;
$color-hover: rgb(138, 105, 36);

$color-blue-3: rgba(194, 210, 255, 0.658);
$color-blue-4: rgba(0, 7, 41, 0.747);


$color-bg: #f9f4ee;

$color-white: #fff;
$color-black: #000;

$color-secondary-header-1: #472f17;
$color-secondary-header-2: #d3a577;


//font

$font-size-header: 5.4rem;
$default-font-size: 1.6rem;