.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;    
    padding: 1rem;

    @include respond(tab-port){
        grid-template-columns: 1fr;
    }

    &__left-about {
        font-size: $default-font-size;
        position: relative;    
    }
    
    &__right-about {
        position: relative;

    }

}


  
  

    

  
